.constructionSection{
  padding-bottom: 30px;
  margin-bottom:40px;
  border-bottom: 1px solid $secondary-color;

  footer{
    margin-top:0;

    p{margin-top:0;}
  }

  p a{text-transform: uppercase}

  blockquote{
    font-size: 1.2em;
    color: #777;
    margin:20px 0 0;
  }
  // cite{
  //   margin:0 0 20px;
  // }

  .imageWrap{
    margin:10px 0;
    padding-top: 0 !important;
    img{
      width: 100%;
    }
  }

  &:last-child{
    border: none;
  }
  .imageWrap{
    height:320px;
    overflow: hidden;
    position: relative;

    .postType p{
      z-index: 100;
      position: absolute;
      margin:0;
      padding:5px 20px;
      top:10px;
      right:0;
      color:white;
      text-transform: uppercase;
    }

    .review p{background:rgba(154, 183, 189, 1);}
    .news p{background:rgba(53, 51, 75, 1);}
    .resource p{background:rgba(155, 194, 53, 1);}
  }

  h4{ margin-bottom: 0;}
  h5{ color: $secondary-color; text-transform: uppercase;}
  time{
    margin-bottom:10px;
    display:block;
    text-transform: uppercase;
    color:#CCC;
  }
  p{
    margin-top:10px;
  }
}

.postSearch{
  background:rgba(238, 238, 238, 1);
  display:inline-block;
  width:80%;
}

div.aniimated-thumbnials a:hover{ opacity:0.9;}
div.aniimated-thumbnials a:nth-child(n+2){
  display: none;
}
.aniimated-thumbnials {
    margin-top: 50px;
}
