.furnishingsSection{
  // padding-bottom: 30px;
  // margin-bottom:40px;
  // border-bottom: 1px solid $secondary-color;
  overflow:auto;

  p a{text-transform: uppercase}


  &:last-child{
    border: none;
  }
  .imageWrap{
    max-height:600px;
    overflow: hidden;
    display: inline;
    width:48%;
    margin:1%;
    float:left;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      max-height: none;
      float: none;
      display: block;
      padding: 0;
    }

    .postType p{
      z-index: 100;
      position: absolute;
      margin:0;
      padding:5px 20px;
      top:10px;
      right:0;
      color:white;
      text-transform: uppercase;
    }

    .review p{background:rgba(154, 183, 189, 1);}
    .news p{background:rgba(53, 51, 75, 1);}
    .resource p{background:rgba(155, 194, 53, 1);}
  }
  .imageWrapSmall{
    max-height:450px;
    @media (max-width: $breakpoint-tablet) {
      max-height: none;
    }
  }
  .imageInnerWrap{
    height:150px;
    overflow: hidden;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-tablet) {
      height:auto;
    }
  }

  .imageWrapLarge{
    max-height:440px;
    @media (max-width: $breakpoint-tablet) {
      max-height: none;
    }

    img{
      // height: 100%;
      width: 100%;
    }
  }
  .imageTall{
    height:440px;
    @media (max-width: $breakpoint-tablet) {
      height: auto;
    }
  }
  .imageShort{
    height:150px;
    @media (max-width: $breakpoint-tablet) {
      height: auto;
    }
    img{
      width:100%;
      @media (max-width: $breakpoint-tablet) {

      }
    }
  }
  .imageMid{
    height:235px;
    @media (max-width: $breakpoint-tablet) {
      height: auto;
    }
    img{
      height:100%;
      @media (max-width: $breakpoint-tablet) {
        height: auto;
      }
    }
  }

  .imageTall img{
    height: 100%;
    width: auto;
      @media (max-width: $breakpoint-tablet) {
        height: 100%;
      }
  }


  h4{ margin-bottom: 0;}
  time{
    margin-bottom:10px;
    display:block;
    text-transform: uppercase;
    color:#CCC;
    // font-weight: bold;
  }
  p{
    margin-top:10px;
  }
}

.postSearch{
  background:rgba(238, 238, 238, 1);
  display:inline-block;
  width:80%;

}
