.mainContent{
	// padding:0 0 40px;
	padding:0;

	@media (max-width: $breakpoint-tablet) {
		h1:first-child, h2:first-child, h3:first-child, h4:first-child{
			margin-top:0;
		}
	}

  img{ width:100%;}

	aside.sideBar{
		@include span-columns(4);
		padding-top:26px;

		h4{ font-size:1rem;}

		img{ margin-top:13px; border-radius:4px;}

		@media (max-width: $breakpoint-tablet) {
			padding-top:20px;
			padding-bottom:30px;
			margin-bottom:30px;
			border-bottom:1px solid $secondary-color;
		}

			input[type="button"], input[type="submit"] {
				background-image: url(../images/search.svg);
				background-repeat: no-repeat;
				background-size: contain;
				text-indent: -9999px;
				background-position: center;
				width:15%;
				@media (max-width: $breakpoint-mobile) {
					margin-top:10px;
					width:100%;
				}
			}

		ul li a{
			text-transform: uppercase;
			line-height: 2em !important;
		}

		h4:first-child{
			margin-top: 8px;
		}

		@media (max-width: $breakpoint-tablet) {
			@include span-columns(12);
		}
	}

	aside.bottomSidebar{
		background:rgba(183, 246, 254, 1);
		border-right:1px solid rgba(74, 255, 255, 1);
		border-left:1px solid rgba(74, 255, 255, 1);
		margin-top:-10px;
		padding:30px;
		min-height: 630px;
	}

	section.contentRight{
		@include span-columns(8);
		h2:first-child{
			margin-top:40px;
		}

		@media (max-width: $breakpoint-tablet) {
			@include span-columns(12);
		}

		ul{
			margin-left:20px;
			list-style: inside;
		}
	}
	.contentRightBottom{
		padding-top:20px;
	}
}

.imageSeperator{
	height:200px;
	background:url("../images/banner_careers_2.jpg") no-repeat 0 0;
	background-size: cover;
	position: relative;
	@include media($tablet) {
		background-size: cover !important;
		background-attachment: inherit !important;
	}

	h1{
		color:white;
		font-size: 2em;
		font-weight: 400;
		position: absolute;
		bottom:0;
	}
}

.biography{
  @include outer-container();
}

.aboutContent blockquote{ color: $primary-color}
.devProject {
	padding-bottom: 40px;
	border-bottom: 1px solid $secondary-color;
	h4{ margin:0; font-size: 1rem;}
	cite{margin-top:0;}
}
.imageWrap{padding-top:40px;}

.developmentSection{
	.imageWrap{padding-top:40px;}
}

img.grayscale {
		cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
