@import 'navigation';
@import 'header';
@import 'footer';
@import 'mobile-nav';
// -------------------------------
// Global Layout Styles
// -------------------------------
body{
	background:#fff;
}

.wrapper{
	@include outer-container();
	margin: 10px auto;
	padding:0 20px;
}
