footer#footer{
  overflow: auto;
  background:rgba(26, 10, 1, 1);
  padding:40px 0;
  font-weight: 300;
  margin-top:5px;
  text-transform: uppercase;

  .copyright{
    margin:80px auto 0;
    display:table;
    color:$secondary-color;
    font-size:0.9em;
    font-weight: 100;
    @media (max-width: $breakpoint-tablet) {
      margin-left:20px;
      margin-top:40px;
    }
    a:link, a:visited{
      color: white;
      font-weight: 100;
    }
  }

  .trademark{
    margin-top:1.414em;
    color:white;
    display:inline-block;
    font-size: 1em;
    margin-bottom: 20px;

    @media (max-width: $breakpoint-tablet) {
      margin-top:0;
      margin-bottom:20px;
    }
  }
}

#footer-mast{
  width:20%;
  float:left;

  p{ color: white; }
  a:link, a:visited{ color: #21bdfc;}
}

#footer-links{
  float: right;
  width:70%;

  a:link, a:visited{
    color: white;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  h4, a{
    font-size: 0.9em;
    font-weight: 300;
  }
  h4{
    margin-bottom: 20px;
    margin-top:0;
  }
  a:before{ display:none;}

  ul{
    @include span-columns(3);
      @media (max-width: $breakpoint-tablet) {
        @include span-columns(12);
      }
  }
}
