header{
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	padding-top:15px;
	position: relative;
	padding:0;
	height:400px;
	background-size: cover !important;
	@media (max-width: $breakpoint-tablet) {
		background-size: cover !important;
		background-attachment: inherit !important;
		height:250px;
	}

	.wrapper{
		margin-top:0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	}

	h1{
		color:white;
		font-size: 2em;
		font-weight: 400;
		position: absolute;
		bottom:0;
	}

	&#home{
		position: absolute;
		z-index: 1;
		width:100%;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}
	&#about{
		height:400px;
		background:url("../uploads/banner_about.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}
	&#resource{
		height:400px;
		background:url("../uploads/banner_resource.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}
	&#construction{
		height:400px;
		background:url("../uploads/banner_construction.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}

	&#contact{
		height:400px;
		background:url("../uploads/bell.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}

	&#furnishings{
		height:400px;
		background:url("../uploads/banner_furnishings.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}

	&#development{
		height:400px;
		background:url("../uploads/banner_development.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}

	&#residential{
		height:400px;
		background:url("../uploads/PH B Kitchen.jpg") no-repeat 0 0;
		background-size: cover;
		background-position: center !important;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}

	&#careers{
		height:400px;
		background:url("../uploads/banner_careers.jpg") no-repeat 0 0;
		background-size: cover;
		@media (max-width: $breakpoint-tablet) {
			background-size: cover !important;
			background-attachment: inherit !important;
			height:250px;
		}
	}
		&#blogPost{
			height:600px
		}

	span{
		position: absolute;
		top:40px;
		@media (max-width: $breakpoint-desktop) {
	    display:none;
	  }
		img{
			width:300px;
		}
	}
}
