.logo{
  background:url("../images/logo.png") no-repeat;
  background-size: contain;
  height:100px;
  width:300px;
  text-indent: -9999px;
  margin: 0 auto 0;
  display: block;
  padding:0;

  &:hover:before {
    border:none;
    visibility: hidden;
    width:0px;
  }

  @media (max-width: $breakpoint-desktop) {
    margin:20px;
    padding:0;
    float:left;
    height:50px;
    width:150px;
    top:0;
  }

  img{
    width:100%;
    height:auto;
  }
}

nav#mainNav ul {
  display: flex;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 8px rgba(52, 81, 78, 0.5);
  @media (max-width: $breakpoint-desktop) {
    display:none;
  }
}

nav#mainNav li {
  background:rgba(255, 255, 255, 0.97);
  list-style: none;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

nav#mainNav a {
  display: block;
  text-decoration: none;
  color:$complimentry-color;
  text-transform: uppercase;
  padding:20px 20px;
  margin: auto;
  font-size: 0.8rem;
  // line-height: 1.4em;
  font-weight:400;
  // &.active{
  //   outline:none;
  //   color:white;
  //   background:$primary-color !important;
  // }
  &active:before {
    background-color:white;
  }
}
nav a:before {
  background-color:white;
}

nav a:hover, nav a:focus {
  outline:none;
  color:white !important;
  background:$primary-color;
}

nav#mainNav li.active{
  outline:none;
  color:white !important;
  background:$primary-color !important;

  a{
    color:white;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  z-index: 1000000 !important;
}
